

.navbar-brand
{
    position: relative;
    left: 45%;
    top: 0%;
    margin-left: -50px !important;
    display: block;
}

.btn
{
    border-radius: 100px; 
    margin-left: 9px; 
    
    
    bottom: 1.4px;
    
}

#main-footer
{
    color: #000000;
}



/* .searchContainer
{
    position: absolute;
    top: 40%;
    display: block;
} */